APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost

LOG_CHANNEL=stderr
CACHE_STORE=array
SESSION_DRIVER=array

DB_CONNECTION=sqlite
DB_DATABASE=database/database.sqlite
QUEUE_CONNECTION=database

SKYLINE_SQL_CAPTURE_BINDINGS=false
SKYLINE_SQL_CAPTURE_RESULTS=false
SKYLINE_SQL_CAPTURE_SOURCE=false
SKYLINE_EDITOR=
SKYLINE_EDITOR_BASE_PATH=
SKYLINE_EDITOR_HREF=
