**/.DS_Store
/.phpunit.cache
/.phpunit.result.cache
/composer.lock
/fixtures/laravel/.env
/fixtures/laravel/composer.lock
/fixtures/laravel/database/*.sqlite*
/fixtures/laravel/database/migrations/*_create_skyline_telemetry_tables.php
/fixtures/laravel/vendor
/vendor
/.trigger-import
/node_modules
/playwright-report
/test-results
